#sfondoAbout {
    background-image: url('../assets/Desk.jpg');
    background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
}
.carousel-container .swiper-slide {
    display: flex;
    justify-content: center;  /* Centra orizzontalmente */
    align-items: center;      /* Centra verticalmente */
    height: 100%;             /* Imposta l'altezza al 100% della slide */
}

.carousel-image {
    width: 100%;          /* Limita la larghezza massima dell'immagine */
    height: 100%;         /* Limita l'altezza massima dell'immagine */
    object-fit: contain;      /* Mantiene le proporzioni e ridimensiona l'immagine senza deformarla */
}