 body {
    font-family:  "proxima nova light", 'Poppins', sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* #sfondoGlobale {
    background-image: url('./assets/Sfocatura.jpg'), url('/NbPortfolioLogo.png') ;
    background-size: cover, contain;
    background-position: center, center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
} */